//
   Created by moksha on 05/07/17.

extends ../layout

block content
  form(method='POST' action="/categories/add")
    .form-group
      label(for='name') Name:

      input#email.form-control(type='text' placeholder="Enter category name" name="name")
      button.btn.btn-default(type='submit') Submit