doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
      head
        script(type='text/javascript', href='a.js')
  body
    block content
